#list {
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    

    .box{
        width: 100px;
        height: 100px;
        background-color: rgb(3, 83, 109);
        list-style: none;
        margin: 2px;
        line-height: 6;
        text-align: center;
    }
}
